#container-principal {
    height: 78vh;
}

#lista-cards {
    width: 45vw;
}

#title {
    height: 15vh;
    width: 80vw;
}

#instruction {
    height: 35vh;
    width: 75vw;
}

    

@media only screen and (max-width: 767px) {
    #lista-cards {
        width: 80vw;
    }

    #instruction {
        height: 50vh;
        width: 75vw;
    }

    #title {
        height: 30vh;
        width: 80vw;
    }
}

@media only screen and (min-width: 768px) {
    footer {
        position: absolute;
        bottom: 0;
    }
}