#container-principal {
    height: 78vh;
}

#lista-cards {
    width: 45vw;
}

@media only screen and (max-width: 767px) {
    #lista-cards {
        width: 70vw;
    }
}

@media only screen and (min-width: 768px) {
    footer {
        position: absolute;
        bottom: 0;
    }
}