#container-login {
    height: 73vh;
    width: 30vw;
    box-shadow: -1px -1px 10px 1px lightgray, 1px 1px 10px 1px lightgray;
}


#container-principal {
    height: 100vh;
}

#email,
#num-conselho {
    width: 20vw;
}

#btn-login {
    width: 30%;
    background-color: lightskyblue;
}

.form-floating>.form-control:focus {
    &::placeholder {
        color: gray;
    }
}

@media only screen and (max-width: 500px) {
    #container-login {
        height: 72vh;
        width: 70vw;
    }
}


@media only screen and (max-width: 376px) {
    #container-login {
        height: 85vh;
        width: 70vw;
    }

    #email,
    #num-conselho {
        width: 50vw;
    }

    #btn-login {
        width: 50%;
        background-color: lightskyblue;
    }
}